* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

.suya-img-background {
    background: #494949;
    position: absolute;
    height: 100%;
    width: 60%;
    background-blend-mode: multiply;
    background-image: url(https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yNDgwMzU3NC9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTYxOTgzNzQ1Mn0.qGWMaDhsCWyVf5U-AIaoZ2hPSCQU9NKUQOI4fAlQaZU/img.jpg?width=980);
    background-size: cover;
    align-items: center;
}

.top-text {
    color: #f18119;
    text-transform: uppercase;
    align-self: center;
    border-top: 3px solid #ffa51d;
    padding-top: 0.2px;
    letter-spacing: 1.1px;
    max-width: 206px;
    font-weight: 900;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    border-image: linear-gradient(90deg, #f18119, #ffa51d) 1;
}

.center-div {
    margin: auto;
    font-weight: 100;
    height: 100%;
    align-items: center;
    align-content: center;
}

.center-text {
    color: white;
    align-self: center;
    font-size: 50px;
    text-align: center;
}

.bottom-text {
    color: #f18119;
    text-transform: uppercase;
    align-self: center;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    border-image: linear-gradient(90deg, #f18119, #ffa51d) 1;
}

.white-background {
    background: #fff;
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0;
    align-content: center;
}

.login {
    /*margin: 40px;*/
    align-items: center;
    align-content: center;
    align-self: center;
}

.white-first {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 17px;
}

.white-second {
    color: #f18119;
    text-transform: uppercase;
    align-self: center;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.third-second {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    color: #3d3d3d;
    font-weight: lighter;
    font-size: 17px;
}

.last-second {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 190px;
    color: #3d3d3d;
    font-weight: lighter;
    font-size: 12px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

.button {
    background: linear-gradient(44deg, #f18119, #ffa51d);
    padding: 16px 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    elevation: unset;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-left: 250px;
    font-size: 12px;
    margin-right: 0;
    max-width: 1000px;
    margin-top: 20px;
}

label{
    align-self: center;
    align-content: center;
    align-items: center;
    max-width: 1000px;
    margin-left: 250px;
    margin-right: 0;
    width: 100%;
}

input {
    background: #fff;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    padding: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 250px;
}
